[Setup]
AppName={{name}}
AppVerName={{name}} {{version}}
AppPublisher={{author}}
AppPublisherURL={{url}}
AppSupportURL={{url}}
AppUpdatesURL={{url}}
ArchitecturesInstallIn64BitMode=x64
ArchitecturesAllowed=x64
DefaultDirName={userpf}\{{name}}
DefaultGroupName={{name}}
Compression=lzma2
PrivilegesRequired=lowest
AlwaysUsePersonalGroup=yes
AllowNetworkDrive=no
CloseApplications=yes
OutputDir=.
OutputBaseFilename={{output_base_name}}
UninstallDisplayIcon={app}\{{name}}.ico
SetupIconFile={{name}}\{{name}}.ico

[Messages]
WelcomeLabel1=Barbarian - A Software Development Environment for Conan.io

[Components]
Name: cmder;                                    Description: "Cmder (http://cmder.net/): Console emulator for Windows";                             Types: full compact custom;           Flags: fixed
Name: git;                                      Description: "Git (https://git-scm.com): Distributed version control system";                       Types: full compact custom;           Flags: fixed
Name: python;                                   Description: "Python (https://www.python.org): Python programming language";                        Types: full compact custom;           Flags: fixed
Name: conan;                                    Description: "Conan (https://conan.io): C/C++ Package Manager";                                     Types: full compact custom;           Flags: fixed

[Files]
Source: "{{name}}\Cmder.exe";                                DestDir: "{app}"; DestName: "{{name}}.exe";                 Flags: ignoreversion;  Components: cmder
Source: "{{name}}\LICENSE.txt";                              DestDir: "{app}";                                           Flags: ignoreversion;  Components: cmder
Source: "{{name}}\README.txt";                               DestDir: "{app}";                                           Flags: ignoreversion;  Components: cmder
Source: "{{name}}\README.md";                                DestDir: "{app}";                                           Flags: ignoreversion;  Components: cmder
Source: "{{name}}\{{name}}.ico";                             DestDir: "{app}";                                           Flags: ignoreversion;  Components: cmder
Source: "{{name}}\{{name}}.png";                             DestDir: "{app}";                                           Flags: ignoreversion;  Components: cmder
Source: "{{name}}\bin\*";                                    DestDir: "{app}\bin";                                       Flags: recursesubdirs createallsubdirs ignoreversion;  Components: cmder
Source: "{{name}}\config\*.*";                               DestDir: "{app}\config";                                    Flags: ignoreversion;    Permissions: users-modify;  Components: cmder
Source: "{{name}}\config\profile.d\git-for-windows.*";       DestDir: "{app}\config\profile.d";                          Flags: ignoreversion;  Components: git
Source: "{{name}}\config\profile.d\python-for-windows.*";    DestDir: "{app}\config\profile.d";                          Flags: ignoreversion;    Components: python
Source: "{{name}}\icons\*";                                  DestDir: "{app}\icons";                                     Flags: recursesubdirs createallsubdirs ignoreversion;  Components: cmder
Source: "{{name}}\vendor\*.*";                               DestDir: "{app}\vendor";                                    Flags: ignoreversion;  Components: cmder
Source: "{{name}}\vendor\bin\*";                             DestDir: "{app}\vendor\bin";                                Flags: recursesubdirs createallsubdirs ignoreversion;  Components: cmder
Source: "{{name}}\vendor\clink\*";                           DestDir: "{app}\vendor\clink";                              Flags: recursesubdirs createallsubdirs ignoreversion;  Components: cmder
Source: "{{name}}\vendor\conemu-maximus5\*";                 DestDir: "{app}\vendor\conemu-maximus5";                    Flags: recursesubdirs createallsubdirs ignoreversion;  Components: cmder
Source: "{{name}}\vendor\lib\*";                             DestDir: "{app}\vendor\lib";                                Flags: recursesubdirs createallsubdirs ignoreversion;  Components: cmder
Source: "{{name}}\vendor\psmodules\*";                       DestDir: "{app}\vendor\psmodules";                          Flags: recursesubdirs createallsubdirs ignoreversion;  Components: cmder
Source: "{{name}}\vendor\clink-completions\*";               DestDir: "{app}\vendor\clink-completions";                  Flags: recursesubdirs createallsubdirs ignoreversion;  Components: cmder
Source: "{{name}}\vendor\barbarian-extra\*";                 DestDir: "{app}\vendor\barbarian-extra";                    Flags: recursesubdirs createallsubdirs ignoreversion;  Components: cmder
Source: "{{name}}\vendor\python-for-windows\*";              DestDir: "{app}\vendor\python-for-windows";                 Flags: recursesubdirs createallsubdirs ignoreversion;    Components: python;    Permissions: users-modify;    
Source: "{{python_temp}}\*";                                 DestDir: "{tmp}";                                           Flags: deleteafterinstall ignoreversion; Components: python
Source: "{{conan_temp}}\*";                                  DestDir: "{tmp}";                                           Flags: deleteafterinstall ignoreversion; Components: conan

[Run]
Filename: "{app}\README.txt"; Description: "View the README file"; Flags: postinstall shellexec skipifsilent unchecked
Filename: "{app}\LICENSE.txt"; Description: "View the LICENSE file"; Flags: postinstall shellexec skipifsilent unchecked
Filename: "{app}\vendor\python-for-windows\bin\python.exe";     Parameters: "get-pip.py --no-index --no-cache-dir --isolated --force-reinstall --find-links=.";                 WorkingDir: "{tmp}"; StatusMsg: "Installing python/pip...";         Flags: RunHidden WaitUntilTerminated
Filename: "{app}\vendor\python-for-windows\Scripts\pip.exe";    Parameters: "install --no-index --no-cache-dir --isolated --force-reinstall --find-links=. conan";              WorkingDir: "{tmp}"; StatusMsg: "Installing python/conan...";       Flags: RunHidden WaitUntilTerminated
Filename: "{app}\vendor\python-for-windows\Scripts\pip.exe";    Parameters: "install --no-index --no-cache-dir --isolated --force-reinstall --find-links=. pylint";             WorkingDir: "{tmp}"; StatusMsg: "Installing python/pylint...";      Flags: RunHidden WaitUntilTerminated
                        
[Dirs]
Name: "{app}\config";                          Permissions: users-modify
Name: "{app}\config\profile.d";                Permissions: users-modify
Name: "{app}\vendor\python-for-windows";       Permissions: users-modify

[UninstallDelete]
Type: files;            Name: "{app}\config\.history"
Type: files;            Name: "{app}\config\settings"
Type: files;            Name: "{app}\config\user_aliases.*"
Type: files;            Name: "{app}\config\user-ConEmu.xml"
Type: files;            Name: "{app}\config\user_profile.*"
Type: filesandordirs;   Name: "{app}\vendor"
Type: dirifempty;       Name: "{app}\config\profile.d"
Type: dirifempty;       Name: "{app}"

[Icons]
Name: "{group}\{{name}} Shell";             Filename: "{app}\{{name}}.exe";                                    Parameters: ""; WorkingDir: "{userdocs}";     IconFilename: "{app}\{{name}}.ico"
Name: "{group}\Uninstall {{name}}";     Filename: "{uninstallexe}"; IconFilename: "{app}\{{name}}.ico"
Name: "{userappdata}\Microsoft\Internet Explorer\Quick Launch\{{name}}"; Filename: "{app}\{{name}}.exe";     Parameters: ""; IconFilename: "{app}\{{name}}.ico"

[Code]
procedure CurStepChanged(CurStep: TSetupStep);
var 
    GitConfig: String;
    S : String;
begin
  if CurStep = ssPostInstall then
  begin
    GitConfig := ExpandConstant('{app}\vendor\git-for-windows\etc\gitconfig');
    // Setup git
    SetIniString('credential', 'helper', 'wincred', GitConfig);
  end;
end;
